
*{
	padding: 0;
	margin: 0;
}
body{
    background: #f9f9f9;
}

.container{
	background: #1c2424;
	width: 350px;
	height: 400px;
	padding-bottom: 20px;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
  padding: 70px 50px 20px 50px;
    border-radius: 10px;
    box-shadow:  0 0 10px 1px #000;
}


.fl{
	float: left;
  width: 110px;
  line-height: 35px;
}

.fontLabel{
  color: white;
}

.fr{
	float: right;
}

.clr{
	clear: both;
}

.box{
	width: 360px;
	height: 35px;
	margin-top: 10px;
	font-family: verdana;
	font-size: 12px;
}

.textBox{
	height: 35px;
	width: 190px;
	border: none;
    padding-left: 20px;
}

.new{
  float: left;
}

.iconBox{
	height: 35px;
	width: 40px;
	line-height: 38px;
	text-align: center;
  background: #237adc;
}

.radio{
	color: white;
	background: #2d3e3f;
	line-height: 38px;
}
.terms{
	line-height: 35px;
	text-align: center;
	color: white;
}

.submit{
    width: 100%;
    border-radius: 10px;
	border: none;
	color: white;
	height: 35px;
	background: #237adc;
	text-transform: uppercase;
  cursor: pointer;
}

i{
    padding-top: 10px;
}



.success
{
	background: #237adc;
	width: 350px;
	height: 50px;
	font-family: verdana;
	font-size: 25px;
	color:yellow;
	text-align:center;
	
	 
}select.role {
	 width: 210px;
	 height: 36px;
	 padding-left: 10px;
	 border: none;
 }



