<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>getElementsByClassName</title>
  <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
  />

<!--  <link rel="stylesheet" href=".css" />-->
  <link rel="stylesheet"  th:href="@{css/classroom.css}">



</head>

<body>
<nav>
  <div class="navleft">
    <a href=""
    ><span class="material-symbols-outlined"> menu </span></a
    >
    <a href=""
    ><img
            class="classroomicon"
            src="https://www.gstatic.com/classroom/logo_square_rounded.svg"
            alt=""
    /></a>
    <h2><a href="" class="classtext">Classroom</a></h2>
  </div>
  <div class="navright">
    <a href=""><span class="material-symbols-outlined"> add </span></a>
    <a href=""><span class="material-symbols-outlined"> apps </span></a>
    <a href="https://github.com/afaqdots" target="_blank"
    ><img
            class="avataricon"
            src="https://avatars.githubusercontent.com/u/154227525?v=4"
            alt=""
    /></a>
  </div>
</nav>
<div class="maindev">
  <div class="mainsidebar">
    <div class="firstsidebar">
      <div class="Buttons">
        <button
                style="
                background-color: #4286f469;
                margin-right: 10px;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                margin-left: -10px;
                padding-left: 15px;
              "
        >
          <span class="material-symbols-outlined"> home </span>
          <label>Home</label>
        </button>
      </div>

      <div class="Buttons">
        <button>
          <span class="material-symbols-outlined"> calendar_today </span>
          <label>Calender</label>
        </button>
      </div>
    </div>

    <div class="Secondsidebar">
      <div class="Buttons2">
        <button>
              <span class="material-symbols-outlined" id="arrow">
                arrow_drop_down
              </span>
          <span class="material-symbols-outlined"> school </span>
          <label>Enrolled</label>
        </button>
      </div>

      <div class="Buttons2">
        <button>
          <span class="material-symbols-outlined"> fact_check </span>
          <label>To-do</label>
        </button>
      </div>

      <div class="Buttons2">
        <button>
          <div class="green">W</div>
          <div>
            <label> Web </label>
            <div>Batch 11 Sec - J</div>
          </div>
        </button>
      </div>
    </div>
    <div class="thirdsidebar">
      <div class="Buttons">
        <button>
          <span class="material-symbols-outlined"> archive </span>
          <label>Archived classes</label>
        </button>
      </div>

      <div class="Buttons">
        <button>
          <span class="material-symbols-outlined"> Settings </span>
          <label>Settings</label>
        </button>
      </div>
    </div>
  </div>

  <div class="leftarea">
    <div class="boxes">
      <div class="topofbox">
        <div>
          <h1><a href="openClass.html">Web Development</a></h1>
        </div>
        <div>
          <p>Batch 11 Sec - J</p>
        </div>
        <div>
          <p>Muhammad Rizwan Bhatti</p>
        </div>
        <a href=""><span id="dots" class="material-symbols-outlined">
                        more_vert
                    </span></a>
      </div>
      <div class="centerofbox">
        <a href="https://www.facebook.com/rizwanbhatti15" target="_blank"><img class="boximg"
                                                                               src="https://lh3.googleusercontent.com/a-/ALV-UjVdUBLPlJmTC5lrpptV3CkjsCEt1Q3VM_VSDwJogNr3-Mw=s500-c"
                                                                               alt=""></a>
      </div>
      <div class="bottomofbox">
        <a href=""><span id="profile" class="material-symbols-outlined">
                        assignment_ind
                    </span></a>
        <a href=""><span id="folder" class="material-symbols-outlined">
                        folder
                    </span></a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
