<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/71258d5dfb.js" crossorigin="anonymous">
    </script>
    <title>LMS University Project</title>
    <link rel="stylesheet" href="" th:href="@{/css/index.css}">
    <style>
        .logo img{
            width : 80px;
        }
        body{
            scroll-behavior: smooth;
        }

    </style>
</head>
<body>

    <!--Header Start  -->
    
    <header>
        <div class="logo">
            <img th:src="@{image/CSE.png}" alt="logo">
        </div>
        <div class="nav">


            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
                
            </label>



            <ul>
                <li><a href="/" style="    color: crimson; ">Home</a> </li>
                <li><a href="#"> About </a></li>
                <li><a href="#contributor">Contributor</a> </li>
                <li><a href="/login"  style="color: crimson; ">Login</a> </li>
            </ul>

        </div>

    </header>

    <!-- Section 1 -->
    <section class="section1">
       
        <div class="half1">
            
           <h3>LMS Project</h3>
           <h1>For Project </h1>
           <p>Lorem ipsum dolor sit amet.</p>
           <input type="button" value="CSE Website">
        </div>
        <div class="half2">
            <img  src="" th:src="@{/image/gate.jpg}" alt="gate">

        </div>

    </section>
    <section class="section2">

        <div class="half2">
            <img  src="" th:src="@{/image/mbstuPro.png}" alt="gate">
 
        </div>
       
        <div class="half1">
            
           <h3>LMS Project</h3>
           <h1>For Project </h1>
           <p>Lorem ipsum dolor sit amet.</p>
           <input type="button" value="CSE Website">
        </div>
       

    </section>

    <section class="section3" id="contributor">
        <div class="team">
            <h1>Project People</h1>
            <p>For LMS project meet out team</p>

        </div>


        <div class="photo">

            <div class="part1">
                <div>
                <img  src="" th:src="@{/image/Mohammad-Motiur-Rahman.png}">
                <h2>Dr. Mohammad Motiur Rahman</h2>
                <h3>Professor</h3>
                </div>

            </div>
            <div class="part2">
                <div>
                    <img src="" th:src="@{/image/sarowar.jpg}">
                    <h2>Golam Sarowar</h2>
                      <p>ID:CE21007</p>


                </div>
                <div>
                    <img src="" th:src="@{/image/jonaye.jpg}">
                    <h2>Jonayet Hossain</h2>
                      <p>ID:CE21008</p>


                </div>
                <div>
                    <img src="" th:src="@{/image/alamgir.jpg}">
                    <h2>Alamgir Hosain</h2>
                      <p>ID:CE21012</p>


                </div>
            </div>
            
        
        </div>
     

    </section>

   
<footer>
    <div class="foot">
        <div class="foot1">
            <h3>About Me</h3>
            <p>Lorem ipsum dolor sit.</p>
            <p>Copiright all LMS Project</p>
             
        </div>
        <div class="foot1">
            <h3>News</h3>
            <p>Lorem ipsum dolor sit.</p>
            <input type="text" placeholder="enter Email">
            <button>send</button>

        </div>
        <div class="foot1">
            <h3>Follow me</h3>
            <p>social Media.</p>


        </div>

    </div>
</footer>
 

 
    
</body>
</html>