<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/71258d5dfb.js" crossorigin="anonymous">
    </script>
    <title>LMS University Project</title>

    <link rel="stylesheet"  th:href="@{css/style.css}">
    <link rel="stylesheet"  th:href="@{css/index.css}">
    <style>
        .logo img{
            width : 80px;
        }
    </style>
</head>
<body>

  <!--Header Start  -->
    
    <header>
        <div class="logo">
            <img th:src="@{image/CSE.png}" alt="logo">
        </div>
        <div class="nav">


            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
                
            </label>



            <ul>
                <li><a href="/" style="    color: crimson; ">Home</a> </li>
                <li><a href="#"> About </a></li>
                <li><a href="#">Something</a> </li>
                <li><a href="sigin"  style="    color: crimson; ">Login OR Register</a> </li>
            </ul>

        </div>

    </header>
    
     
    <div class="main">
        <div class="main-left "> 
            <img src="" th:src="@{/image/R.jpg}"alt="login">   
        </div>
        <div class="main-right">

            <form action="/login" method="post" >
                <h2>Welcome Back!</h2>
               <p>Welcome to  E-Learning Management System</p> <br><br>
                <div class="input-group">
                    <label for="username" class="">Email</label>
                    <input class="form-control"type="text" name="username" id="username" placeholder="Enter your email">
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input class="form-control"type="password" name="password" id="password" placeholder="Enter your password">
                </div>
                <br>
                <button type="submit" class="btn">Login</button>
                <p>Dont have an account? <a href="register">Register Here</a></p>
            </form>
        </div>
    </div>
    




 
    
</body>
</html>