<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Side Navigation Bar</title>
    <link rel="stylesheet" href="sts.css">
    <link href="" th:href="@{/css/style2.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2>Sidebar</h2>
        <ul>
            <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="#"><i class="fas fa-user"></i>Profile</a></li>
            <li><a href="topicList.html"><i class="fas fa-address-card"></i>Daily Work</a></li>
            <li><a href="topicSummary.html"><i class="fas fa-project-diagram"></i>Topic Summary</a></li>
            <li><a href="grading.html"><i class="fas fa-blog"></i>Grading</a></li>
            <li><a href="#"><i class="fas fa-address-book"></i>Contact</a></li>
            <li><a href="/teacher/classRoutine"><i class="fas fa-map-pin"></i>Map</a></li>
        </ul>
    </div>
    <div class="main_content">
        <div class="mai">
            <header>
                <div class="logo">
                    <img th:src="@{image/CSE.png}" alt="logo">
                </div>
                <div class="navi">

                    <ul>
                        <li><a href="index.html" style="color: crimson">Home</a></li>
                        <li><a href="#"> About </a></li>
                        <li><a href="TeacherDashboard.html">Something</a></li>
                        <li>
                            <a href="/logout" style="color: crimson">Log Out</a>
                        </li>
                    </ul>
                </div>
            </header>
        </div>

          <div class="container">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
             Add Topic
            </button>


            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Add Topic</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="addTopicForm" th:action= "@{/teacher/courses/classroom/addTopic(id=${courseId})}" method="post">
                                <div class="form-group">
                                    <label class="form-label" for="topicName">Topic Name:</label>
                                    <input type="text" class="form-control" id="topicName" name="topicName" required>
                                </div>
                                <br><br>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">create</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

              <h3>Topics : </h3>
              <table class="table table-primary">
                  <thead>
                  <tr>
                      <th>Topic Name</th>
                      <th>Created At</th>
                      <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="topic : ${topics}">
                      <td th:text="${topic.topicName}"></td>
                      <td th:text="${topic.created_at}"></td>
                      <td>
                          <a th:href="@{/teacher/courses/classroom/deleteTopic(id=${topic.id})}" class="btn btn-danger">Delete</a>
                      </td>
                  </tr>
                  </tbody>
              </table>

        </div>

       </div>

<!--topic list table-->

</div>

</body>
</html>